{% extends 'base.html' %}

{% block content %}
  <h2 class="mb-3">Tasks</h2>
 <form method="POST" action="{% url 'task_delete_selected' %}">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Summary</th>
                <th>Description</th>
                <th>Status</th>
                <th>Tags</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td><input type="checkbox" name="selected_tasks" value="{{ task.pk }}"></td>
                <td>{{ task.summary }}</td>
                <td>{{ task.description }}</td>
                <td>
                    <span class="badge text-bg-light">
                        {{ task.status }}
                    </span>
                </td>
                <td>
                    {% for tag in task.tags.all %}
                    <span class="badge text-bg-info">{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <td>{{ task.created_at }}</td>
                <td>{{ task.updated_at }}</td>
                <td>
                    <a href="{% url 'task_detail' task.pk %}" class="btn btn-primary">View</a>
                    <a href="{% url 'task_update' task.pk %}" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-danger">Delete selected</button>
</form>
{% endblock %}
