{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-3">Projects</h2>
    <div class="container-table">
        <form method="POST" action="{% url 'project_delete_selected' %}">
            {% csrf_token %}
            <table class="table" style="overflow-y: auto;">
                <thead>
                <tr>
                    {% if user.is_superuser %}
                        <th>Select</th>
                    {% endif %}
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Task</th>
                    <th>Members</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        {% if user.groups.all.0.name == 'manager' or user.is_superuser %}
                            <td><input type="checkbox" name="selected_projects" value="{{ project.pk }}"></td>
                        {% endif %}
                        <td>{{ project.name }}</td>
                        <td>{{ project.description|slice:":20" }}</td>
                        <td>{{ project.start_date|date:'Y-m-d' }}</td>
                        <td>{{ project.end_date|date:'Y-m-d' }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Tasks
                                </button>
                                <ul class="dropdown-menu">
                                    {% for task in project.filtered_tasks.all %}
                                        <li>
                                            <a href="{% url 'task_detail' task.pk %}" class="dropdown-item">
                                                {{ task.summary }}
                                                <span class="badge {% if task.status == 'New' %}bg-primary{% elif task.status == 'In Progress' %}bg-warning{% elif task.status == 'Done' %}bg-success{% endif %}">{{ task.status }}</span>
                                            </a>
                                        </li>
                                    {% empty %}
                                        <span class="dropdown-item text-muted">No tasks for this project.</span>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Members
                                </button>
                                <ul class="dropdown-menu">
                                    {% for member in project.members.all %}
                                        <li>
                                            <p class="dropdown-item text-center">
                                                {{ member.username }}
                                            </p>
                                        </li>
                                    {% empty %}
                                        <li>
                                            <p class="dropdown-item">No members</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        {% if user.groups.all.0.name == 'manager' or user.groups.all.0.name == 'lead' or user.groups.all.0.name == 'dev' or user.is_superuser %}
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'project_detail' project.pk %}"
                                       class="btn btn-secondary" role="button">View</a>
                                    <a href="{% url 'project_update' project.pk %}"
                                       class="btn btn-secondary" role="button">Edit</a>
                                    <a href="{% url 'project_delete' project.pk %}"
                                       class="btn btn-danger" role="button">Delete</a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if user.groups.all.0.name == 'manager' or user.is_superuser %}
                <button type="submit" class="btn btn-danger">Delete selected</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
